<% content_for :head do %>
<%= stylesheet_link_tag    "home", media:"all" %>
<%= javascript_include_tag "home"%>
<% end %>

<div id="myCarousel" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <% first= true %>
    <% albums= Album.order("albumdate DESC").limit(3) %>
    <% albums.each do |album| %>
      <div class=<% if (first) %> "active item" > <% else %> "item" > <% end %>
        <% first= false %>
        <%= link_to(album) do %>
          <%= image_tag("", :class => "album-thumb", :'data-name' => album.onlinename, :'data-authkey' => album.authkey) %>
        <% end %>
        <div class="container">
          <div class="carousel-caption">
            <h2><%= album.name %></h2>
            <h3><%= album.description %></h3>
            <h4><%= album.albumdate.strftime("%B %d, %Y") %></h4>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->

<%= render "layouts/footer" %>

<script>
  ! function($) {
    $(function() {
      $('#myCarousel').carousel()
    })
  }(window.jQuery)
</script>

