<% content_for :head do %>
<%= stylesheet_link_tag    "albums", media:"all" %>
<%= javascript_include_tag "albums"%>
<% end %>

<%= render "layouts/header" %>
<div class="this-page" data-type="album" data-id=<%= @album.id %> >
  <div id="rowholder">
    <div class="picrow"></div>
  </div>
</div>
<%= render "layouts/footer-large" %>

<%
=begin %>

<%= render "layouts/header" %>
<div id="galleria" data-id=<%= @album.id %> >
</div>

<a id="g_fullscreen" href="#" class="button" title="fullscreen mode on" alt="fullscreen mode on" fs></a> 
<a id="g_fullscreen2" href="#" class="button" title="fullscreen mode off" alt="fullscreen mode off" -fs></a>

<div class="galleria-footer">
  <strong><%= @album.name %></strong><br>
  <%= @album.description %><br>
  <%= @album.albumdatestr %>
</div>

<%
=end %>

