<% content_for :head do %>
<%= stylesheet_link_tag    "albums", media:"all" %>
<%= javascript_include_tag "albums"%>
<% end %>

<div id="galleria" data-id=<%= @album.id %> >
</div>

<div class="galleria-footer">
  <strong><%= @album.name %></strong><br>
  <%= @album.description %><br>
  <%= @album.albumdate.strftime("%B %-d, %Y") %>
</div>


