<!DOCTYPE html>
<html>
<head>
  <title>Photos</title>
  <%= stylesheet_link_tag 		"tokeninput/token-input", :media => "all" %>
  <%= javascript_include_tag	"tokeninput/jquery.tokeninput" %>
  <%= javascript_include_tag	"galleria/galleria-1.2.9.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
